{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link href="static/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="static/css/site.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link rel="icon" type="image/x-icon" href="/static/favicon.ico">


    <script src="static/js/uikit.min.js"></script>
    <script src="static/js/uikit-icons.min.js"></script>
    <title>Find My Blood</title>
</head>
<body>
    
    
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="{% static "js/init.js" %}"></script>
    <script src="{% static "js/script.js" %}"></script>
    <script src="https://kit.fontawesome.com/e0a08b5c11.js" crossorigin="anonymous"></script>
</body>
</html>